absl-py==2.0.0
accelerate==0.24.1
aiohttp==3.9.1
aiosignal==1.3.1
alembic==1.14.1
anndata==0.9.2
annotated-types==0.7.0
anyio==4.1.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.7.2
astroid==2.15.8
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.1.0
Babel==2.13.1
backcall==0.2.0
beautifulsoup4==4.12.2
biopython==1.81
bioservices==1.11.2
biothings-client==0.3.1
bleach==6.1.0
cachetools==5.3.2
cattrs==24.1.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cmake==3.27.7
colorama==0.4.6
colorlog==6.9.0
comm==0.2.0
contourpy==1.1.1
crick==0.0.5.post0
cycler==0.12.1
d2l==1.0.3
datacache==1.4.0
datasets==2.15.0
DateTime==5.5
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
dgl==2.1.0
dill==0.3.7
Django==4.2.8
django-request==1.6.3
dnspython==2.6.1
docker-pycreds==0.4.0
docopt==0.6.2
easydev==0.13.3
entrypoints==0.4
et-xmlfile==1.1.0
eval_type_backport==0.2.2
exceptiongroup==1.2.0
executing==2.0.1
fastjsonschema==2.19.1
filelock==3.13.1
flatbuffers==23.5.26
fonttools==4.45.1
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2023.10.0
ftpretty==0.4.0
future==1.0.0
gast==0.4.0
gevent==24.2.1
gitdb==4.0.12
GitPython==3.1.44
gmpy2==2.1.5
goatools==1.4.12
google-auth==2.26.1
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
greenlet==3.1.1
grequests==0.7.0
grpcio==1.60.0
gseapy==1.1.4
gtfparse==2.4.1
h11==0.14.0
h5py==3.10.0
huggingface-hub==0.20.0
hyperopt==0.1.2
idna==3.6
igraph==0.11.5
importlib-metadata==6.8.0
importlib-resources==6.1.0
ipykernel==6.26.0
ipython==8.18.1
ipython-genutils==0.2.0
ipywidgets==8.1.1
isoduration==20.11.0
isort==5.13.2
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
json5==0.9.14
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.9.0
jupyter-lsp==2.2.1
jupyter_client==8.6.0
jupyter_core==5.5.0
jupyter_server==2.11.1
jupyter_server_terminals==0.4.4
jupyterlab==4.0.9
jupyterlab-widgets==3.0.9
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.2
keras==2.13.1
kiwisolver==1.4.5
lazy-object-proxy==1.10.0
leidenalg==0.10.2
libclang==16.0.6
line_profiler==4.2.0
lit==17.0.5
llvmlite==0.41.1
loompy==3.0.7
lxml==4.9.3
Mako==1.3.10
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
memoized-property==1.0.3
mistune==3.0.2
mock==5.1.0
mpld3==0.5.10
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.4
multiprocess==0.70.15
mygene==3.2.2
narwhals==1.37.0
natsort==8.4.0
nbclient==0.8.0
nbconvert==7.11.0
nbformat==5.9.2
neo4j==5.25.0
nest-asyncio==1.5.8
networkx==3.1
notebook==6.5.4
notebook_shim==0.2.3
numba==0.58.1
numpy==1.23.5
numpy-groupies==0.9.22
oauthlib==3.2.2
openpyxl==3.1.2
opt-einsum==3.3.0
optuna==4.5.0
outcome==1.3.0.post0
overrides==7.4.0
packaging==23.2
pandas==2.0.3
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.3
peft==0.13.2
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.1.0
platformdirs==4.0.0
plotly==6.0.1
polars==0.20.4
pooch==1.8.2
progressbar==2.5
progressbar33==2.4
prometheus-client==0.19.0
prompt-toolkit==3.0.41
protobuf==4.25.1
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==14.0.2
pyarrow-hotfix==0.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==2.8.0
pydantic_core==2.20.0
pydot==3.0.4
pyensembl==2.3.6
Pygments==2.17.2
pylint==2.17.7
pymongo==4.10.1
pynndescent==0.5.11
pyparsing==3.0.9
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-json-logger==2.0.7
pytz==2023.3
pyudorandom==1.0.0
pyvista==0.44.2
PyYAML==6.0.1
pyzmq==25.1.1
qtconsole==5.5.1
QtPy==2.4.1
ray==2.8.0
referencing==0.31.0
regex==2023.10.3
requests==2.31.0
requests-cache==1.2.1
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.13.1
rsa==4.9
safetensors==0.4.0
scanpy==1.9.8
scikit-learn==1.3.2
scikit-misc==0.2.0
scipy==1.10.1
scooby==0.10.1
scvi==0.6.8
seaborn==0.13.2
selenium==4.16.0
Send2Trash==1.8.2
sentencepiece==0.2.0
sentry-sdk==2.24.0
serializable==0.2.1
session-info==1.0.0
setproctitle==1.3.5
simplegeneric==0.8.1
simplejson==3.19.2
six==1.16.0
smmap==5.0.2
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.45
sqlparse==0.4.4
stack-data==0.6.3
statsmodels==0.14.0
stdlib-list==0.10.0
suds-community==1.2.0
sympy==1.12
tdigest==0.5.2.2
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==2.4.0
terminado==0.18.0
texttable==1.7.0
threadpoolctl==3.2.0
tinycss2==1.2.1
tinytimer==0.0.0
tokenizers==0.15.0
tomli==2.0.1
tomlkit==0.12.3
torch==2.1.0
torchaudio==2.1.0
torchdata==0.8.0
torchvision==0.16.0
tornado==6.4
tqdm==4.66.1
traitlets==5.13.0
transformers==4.35.2
trio==0.23.1
trio-websocket==0.11.1
triton==2.1.0
typechecks==0.1.0
types-python-dateutil==2.8.19.14
typing_extensions==4.12.2
tzdata==2023.3
tzlocal==5.2
umap-learn==0.5.5
uri-template==1.3.0
url-normalize==1.4.3
urllib3==2.1.0
visdom==0.2.4
vocab==0.0.5
vtk==9.3.1
wcwidth==0.2.12
webcolors==1.13
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.6.4
Werkzeug==3.0.1
widgetsnbextension==4.0.9
wrapt==1.16.0
wsproto==1.2.0
xlrd==2.0.1
XlsxWriter==3.2.0
xmltodict==0.14.2
xxhash==3.4.1
yarl==1.9.3
zipp==3.17.0
zope.event==5.0
zope.interface==7.2
